@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 14% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 100;
    src: local(""), url(/assets/fonts/Palanquin-Thin.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 200;
    src: local(""), url(/assets/fonts/Palanquin-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    src: local(""), url(/assets/fonts/Palanquin-Light.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 400;
    src: local(""), url(/assets/fonts/Palanquin-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 500;
    src: local(""), url(/assets/fonts/Palanquin-Medium.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 600;
    src: local(""), url(/assets/fonts/Palanquin-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    src: local(""), url(/assets/fonts/Palanquin-Bold.ttf) format("truetype");
}

:host,html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: Palanquin,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    transition: all;
    transition-duration:  0.3s;
    list-style: none;
    scroll-behavior: smooth;
    transition: all;
    width: 100dvw;
    height: 100dvh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px!important;
}

#google_translate_element span {
    display: none!important;
}

#google_translate_element > div {
  font-size: 0px !important;
}

.goog-te-combo {
  display: flex;
  height: 2.25rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  background-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-ring-offset-shadow: 0 0 transparent;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  opacity: 1;
}

.goog-te-combo::placeholder {
  color: #cbd5e0;
}

.goog-te-combo:hover {
  background-color: rgba(255, 255, 255, 0.30);
}

[data-children] > span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 667px) {
	#google_translate_element {
		bottom: calc(100% - 50% - 53px);
		left: 16px!important;
		width: 100%!important;
		goog-te-gadget {
			width:100%!important;
		}
		.skiptranslate {
			width:100%!important;
		}
		.goog-te-combo {
			width: calc(100% - 32px)!important;
			text-align: center;
		}
	}
}



